/* DEBUG */

.box {
    display: flex;
    justify-content: center;
    color: white;
    height: 100%;
    align-items: center;
    background-color: blue;
    border: solid 2px greenyellow;
    min-height: 30px;
}
.nested-box {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(16, 236, 16);
    border: solid 2px blue;
    min-height: 30px;
    align-items: center;
}
.padding {
    padding: 1% 2%;
}
.breaking-space {
    height: 20px;
}
.fixed-height {
    min-height: 60px;
}
.half {
    max-height: 50%;
}
.middle {
    position: relative;
    top: 25%;
}
.bottom {
    position: relative;
    top: 50%;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}